<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Primeiro App</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div id="app">
      <div>
        <label for="meta">Meta</label>
        <input v-model="valorDigitado" type="text" id="meta" />
        <button v-on:click="adicionarMeta">Adicionar Meta</button>
      </div>
      <ul>
        <li v-for="meta in metas">{{meta}}</li>
      </ul>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
  </body>
</html>
